/*
x < 600px: ---------    Phone
600px - 900px: -----    Tablet Portrait
900px - 1200px: ----    Tablet Landscape
1200px - 1800px: ---    Default
1800px < x: --------    Big Monitors
*/
/* VARIABLES */
.btn {
  /* BUTTON */
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transition: all 0.4s 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
  /* Also create pseudo element for .btn-white */
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #C3272B;
  color: #fff;
  /* Also create pseudo element for .btn-white */
}
.btn--green::after {
  background-color: #C3272B;
}
.btn::after {
  content: "";
  /* Make the same as button */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /* Position behind button */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  /* Include .75s delay */
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* Start 0% keyframe before animation begins */
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #C3272B;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #C3272B;
  padding: 3px;
}
.btn-text:hover {
  background-color: #C3272B;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s 0.1s;
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.navigation {
  /* NAVIGATION CHECKBOX */
  /* NAVIGATION BUTTON */
  /* NAVIGATION BUTTON ICON */
  /* HOVERING NAVIGATION BUTTON */
  /* HAMBURGER MENU ICON - CHECKED */
  /* NAVIGATION BACKGROUND */
  /* NAVIGATION */
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: ghostwhite;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  /*
      'only' prevents older browsers that do not support media queries 
      with media features from applying the specified styles. It has no 
      effect on modern browsers. 
  */
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: black;
  display: inline-block;
  transition: all 0.3s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotateZ(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotateZ(-135deg);
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#F2666C, #8F1D21);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  /*
      'only' prevents older browsers that do not support media queries 
      with media features from applying the specified styles. It has no 
      effect on modern browsers. 
  */
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    height: 5rem;
    width: 5rem;
    top: 4rem;
    right: 4rem;
  }
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.62, -0.04, 0.21, 1.21);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__list {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem, 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  display: inline-block;
  margin-right: 1.5rem;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #8F1D21;
  transform: translateX(1rem);
}

/* HEADER BACKGROUND */
.header {
  height: 85vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(242, 102, 108, 0.8), #8F1D21), url(../img/sen-lee-_h1IO0AHilM-unsplash.jpg);
  background-size: cover;
  background-position: top;
  /* LOGO */
  /* TEXT BOX */
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
