.btn {
    // Button pseudo-class: link, visited, hover, active
    // :link is overriden by any other subsequent link pseudo-classes.

    /* BUTTON:LINK */
    /* BUTTON:VISITED */
    &:link,
    &:visited {
        // Physical Properties
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;

        // Location
        position: relative;

        // Text Properties
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-font-size;

        // Animation
        transition: all 0.4s, 0.2s;
    }

    /* BUTTON:HOVER */
    &:hover {
        // Physical Properties
        transform: translateY(-3px);
        box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);

        // Animation
        transition: all 0.4s 0.2s;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    /* BUTTON:ACTIVE */
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        transform: translateY(-1px);
    }

    /* Button--white */
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    /* BUTTON::AFTER */
    &::after {
        content: "";
        // Physical Properties
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 10rem;

        // Location
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        transition: all 0.4s;
    }

    /* Button--animated */
    &--animated {
        // 0.5s transtion with 0.75s delay
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

}