/* VARIABLES */

// COLORS
$color-white: #fff;
$color-ghostwhite: ghostwhite;
$color-grey-dark: #777;
$color-black: black;

$color-primary: #C3272B;
$color-primary-light: #F2666C;
$color-primary-dark: #8F1D21;

// FONTS
$default-font-size: 1.6rem;