.heading-primary {
 
    // Physical Properties
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;

    &--main {
        // Physical Properties
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        margin-left: 3.5rem;
        
        // Animation
        animation-name: moveInLeft;
        animation-duration: 2.5s;
        animation-timing-function: linear;

        // Adjustments for Phone
        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
            margin-left: 0;
        }
    }

    &--sub {
        // Physical Properties
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        margin-left: 1.75rem;

        // Animation - Shorthand (Name, Time, Time Function)
        animation: moveInLeft 2s ease-in;

        // Adjustments for Phone
        @include respond(phone) {
            letter-spacing: 0.5rem;
            margin-left: 0;
        }
    }

}

.heading-secondary {
    background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
    );
    -webkit-background-clip: text; // clip background gradient to exactly where text sits

    // Physical Properties
    display: inline-block;
    padding-bottom: 2rem;

    // Text Properties
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: transparent;

    // Animation
    transition: all 0.2s 0.1s;

    // TODO: Adjustments Tablet-Portrait
    // TODO: Adjustments Phone

    &:hover {
        transform: scale(1.1);
        // offset-x, offset-y, blur-radius, color
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-tertiary {
    // Text Properties
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    // Setting paragraph bottom margins except the last one.
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}