.btn {
    
    // Button pseudo-class: link, visited, hover, active
    // :link is overriden by any other subsequent link pseudo-classes.

    /* BUTTON:LINK */
    /* BUTTON:VISITED */

    &:link,
    &:visited {

        // Physical Properties
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;

        // Text Properties
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-font-size;

        // Animation
        transition: all 0.4s, 0.2s;

    }

    /* BUTTON:HOVER */

    &:hover {

        // Physical Properties
        transform: translateY(-3px);
        box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);

        // Animation
        transition: all 0.4s 0.2s;

        &::after {
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
            transform: scaleX(1.4) scaleY(1.6);
        }

    }

    /* BUTTON:ACTIVE */
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        transform: translateY(-1px);
    }

    /* Button--white */
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            color: $color-white;
        }
    }

    /* Button--animated */
    &--animated {
        // 0.5s transtion with 0.75s delay
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

}