/* HEADER BACKGROUND */
.header {

    // Physical Properties
    height: 85vh;
    position: relative;

    // Background
    background-image: 
        linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            $color-primary-dark
        ),
        url(../img/sen-lee-_h1IO0AHilM-unsplash.jpg);
    background-size: cover;
    background-position: top;

        // Adjustments: Phones(37.5em) and Big Monitors(125em)
        // Apple Retina Screen: 192dpi resolution
        // If greater than 192dpi AND 600px --> 2x screen
        // Safari Browser: if resolutio = pixel ratio --> 2x screen minimum
        @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
                background-image: 
                    linear-gradient(
                        to right bottom,
                        rgba($color-primary-light, 0.8),
                        $color-primary-dark
                    ),
                    url(../img/sen-lee-_h1IO0AHilM-unsplash.jpg);
            }

        // Check if browser supports clip-path - Firefox does not.
        // 0 0 properties don't matter
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            // Setting four points to create an area that we want to be visible.
            // Point of Origin starts at top left.
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); // Support for IE or Edge
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            height: 95vh;
        }

        // Adjust angle of polygon on tablet-portrait.
        @include respond(tablet-portrait) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh);
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh);
        }

        // Adjust angle of polygon on phone.
        @include respond(phone) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 80vh);
            clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 80vh);
        }

    
    /* LOGO */
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

        &__logo {
            height: 3.5rem;
        }

    /* TEXT BOX */
    &__text-box {

        // Physical Properties
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

}